p {
    margin: 10px 0 !important;
}

.login-container {
    min-width: 200px;
    width: 70%;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 50px;
}

.img-small {
    width: 180px;
}

.lead {
    text-align: left; 
    font-size: 140%;
}

.image-holder img {
    width: 100%;
}